<%= form_for(@suite) do |f| %>
  <% if @suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suite.errors.count, "error") %> prohibited this suite from being saved:</h2>

      <ul>
      <% @suite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br>
    <%= f.select :project_id, Project.all.pluck(:project_name, :id) -%>
  </div>
  <div class="field">
    <%= f.label :suite_name %><br>
    <%= f.text_field :suite_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
