<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @case.project %>
</p>

<p>
  <strong>Case name:</strong>
  <%= @case.case_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Tester user:</strong>
  <%= @case.tester_user %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
