<h3>Listing projects</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Project name</th>
      <th>Description</th>
      <th>Start date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @projects %>
<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
